node_modules/
.next/
out/
.env
.env.local
.env*.local
npm-debug.log*
.DS_Store
*.pem
.vercel
public/sw.js
public/workbox-*.js
public/sw.js.map
public/workbox-*.js.map
coverage/
*.tsbuildinfo
public/swe-worker-*.js
public/fallback-*.js
